*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    margin-left: 20%;
    gap: 2em;
}
.flex-box {
    background: white;
    width: 40%;
    height: 400px;
    font-size: 15px;
    text-align: center;
    line-height: 25px;
    border-radius: 30px;
}
.flex-box-image{
    background-color: white;
    height: 300px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 30px 30px 0 0;
}

.flex-box a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.flex-box a:hover{
    color: #ffe815;
}
.overskrift {
    height: 8vh;
    display: flex;
    align-items: flex-end;
}
.overskrift h2{
    color: #1A1A1A;
    margin-left: 250px;
}
.flex-box h4{
    color: white;
}


