.flex-container {
    display: flex;
    justify-content: center;
}

.flex-container-block-description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff; /* Baggrundsfarve */
    border-radius: 10px; /* Afrundede hjørner */
    box-shadow: 0px 0px 10px 0px rgba(0, 192, 255, 0.75); /* Skyggeeffekt */
    min-height: 30vh;
    min-width: 80vh;
    margin: 20px;
}

.flex-container-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff; /* Baggrundsfarve */
    border-radius: 10px; /* Afrundede hjørner */
    box-shadow: 0px 0px 10px 0px rgba(0, 192, 255, 0.75); /* Skyggeeffekt */
    min-height: 30vh;
    min-width: 80vh;
    margin: 20px;
}

.flex-container-block h1 {
    height: 5vh; /* Fast højde til h1 */
    line-height: 0vh; /* Gør tekst vertikalt centreret */
    text-align: left;
    display: flex;
}

.block{
    display: flex;
    justify-content: space-between;
}

.smallBox {
    color: white;
    height: 100vh;
    width: 10%;
}

.largerBox {
    margin: 0;
    color: white;
    height: 100vh;
    width: 90%;
}

.pictureBox {
    margin: 0;
    color: red;
    height: 35vh;
    width: 25%;
}

.ModelBrand {
    margin: 0;
    font-size: 33px;
    text-align: left;
    color: black;
    height: 35vh;
    width: 75%;
}

.DescriptionBox {
    font-size: 20px;
    text-align: left;
    color: black;
    margin: 0;
    height: 100vh;
    width: 100%;
}

.button {
    background-color: #1e90ff; /* Mørkeblå farve */
    color: #fff; /* Hvid tekstfarve */
    padding: 10px 20px; /* Tilføj lidt polstring */
    border: none; /* Fjern kanten */
    border-radius: 5px; /* Afrundede hjørner */
    cursor: pointer; /* Gør cursor til en hånd når det er over knappen */
    margin: 10px;
}

/* Ændre farven, når musen er over knappen */
.button:hover {
    background-color: #005cbf; /* Mørkere blå farve */
}
