* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.flex-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    margin-left: 20px;

}

.flex-container-block-description {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 192, 255, 0.75);
    padding: 20px;
    flex: 1 1 45%;
    gap: 2em;
    margin-bottom: 20px;
}

.flex-container h1 {
    font-size: 2em;
    font-family: "Poppins", sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    text-align: left;
}
.header-box {
    min-height: 2em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.block {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.smallBox {
    color: white;
    height: 100vh;
    width: 10vw;
}

.largerBox {
    margin: 0;
    color: white;
    height: 100vh;
    width: 90vw;
}

.pictureBox {
    margin: 0;
    color: red;
    background-size: cover;
}

.ModelBrand {
    margin: 0;
    font-size: 33px;
    text-align: left;
    color: black;
    flex: 1;
}

.DescriptionBox {
    font-size: 20px;
    text-align: left;
    color: black;
    margin: 0;
    flex: 1;
}

.button {
    background-color: #1e90ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.button:hover {
    background-color: #005cbf;
}

h1 {
    margin-left: 220px;
    margin-bottom: 50px;
    margin-top: 50px
}

tr {
    text-align: left
}

.Last_div {
    margin-left: 875px;
}

.flex-container-block {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 192, 255, 0.75);
    padding: 20px;
    flex: 1 1 45%;
    gap: 2em;
    margin-bottom: 20px;
}

.flex-container-block-wdr {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 192, 255, 0.75);
    padding: 20px;
    flex: 1 1 45%;
    gap: 2em;
    margin-bottom: 20px;
    margin-left: 180px;
    margin-right: 150px;
}

.flex-container-block-cnre {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 192, 255, 0.75);
    padding: 20px;
    flex: 1 1 45%;
    gap: 2em;
    margin: 100px;
    margin-left: 500px;
    margin-right: 500px;
}


.flex-container-block-2 {
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 192, 255, 0.75);
    padding: 20px;
    gap: 2em;
    margin-left: 500px;
    margin-right: 300px;
}