*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}
body{
    background:#f2f2f2;
}
.sidebar{
    position: fixed;
    font-size: 18px;
    padding-top: 10px;
    top: 0;
    left: 0;
    width: 13%;
    height: 100%;
    text-decoration: none;
    margin-right: 100px;
    background: white;
    overflow-y: auto;

}

.sidebar header {
    font-size: 20px;
    color: black;
    text-align: center;
    line-height: 70px;
    user-select: none;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 55px;
    font-size: 18px;
    color: black;
    padding-left: 35px;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .4s;

}
ul li:hover a{
    padding-left: 40px;
}
header a {
    color: #1A1A1A;
}



