.block{
    width: 70vh; /* Bredden på din boks */
    height: 80vh; /* Højden på din boks */
    background-color: #fff; /* Baggrundsfarve */
    border-radius: 10px; /* Afrundede hjørner */
    box-shadow: 0px 0px 10px 0px rgba(0, 192, 255, 0.75); /* Skyggeeffekt */
    display: flex;
    flex-direction: column;
}
.blockLeasingContrakts{
    width: 100vh; /* Bredden på din boks */
    height: 70vh; /* Højden på din boks */
    background-color: #fff; /* Baggrundsfarve */
    border-radius: 10px; /* Afrundede hjørner */
    box-shadow: 0px 0px 10px 0px rgba(0, 192, 255, 0.75); /* Skyggeeffekt */
    display: flex;
    flex-direction: column;
}


.block-content {
    text-align: center; /* Centrer indholdet vandret */
}

.block-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Sætter højden til 100% af vinduets højde */
}

.button {
    background-color: #1e90ff; /* Mørkeblå farve */
    color: #fff; /* Hvid tekstfarve */
    padding: 10px 20px; /* Tilføj lidt polstring */
    border: none; /* Fjern kanten */
    border-radius: 5px; /* Afrundede hjørner */
    cursor: pointer; /* Gør cursor til en hånd når det er over knappen */
}

/* Ændre farven, når musen er over knappen */
.button:hover {
    background-color: #005cbf; /* Mørkere blå farve */
}