<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>carInfopage</title>
    <link rel="stylesheet" href="../static/css/carInfo.css" th:href="@{/css/carInfo.css}">
    <link rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}">
</head>
<body>
    <div class="flex-container">
        <div class="sidebar">
            <header><a th:href="@{/dashboard}">Bilabonnement</a></header>
            <ul>
                <li><a th:href="@{/dashboard}">Dashboard</a></li>
                <li><a th:href="@{/carListSite}">Biler</a></li>
                <li><a th:href="@{/watchLeasingAgreements}">Leasing</a></li>
                <li><a th:href="@{/DamageReportSite}">Skaderapport</a></li>
                <li><a th:href="@{/watchDamages}">Skader</a> </li>
            </ul>
        </div>
    </div>
    <div>
        <div class="flex-container">
            <div class="smallBox"></div>
            <div class="largerBox">
                <div class="flex-container">
                    <div class="pictureBox">
                        <img th:src="@{'/image/'+${carModel.car_picture}}" style="height: 35vh; width: 105%;">
                    </div>
                    <div class="ModelBrand">
                        <table>
                            <tbody>
                            <tr>
                                <td th:text="${carModel.car_full_name}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="DescriptionBox">
                    <div class="flex-container-block-description">
                        <h1 class="header-box">Beskrivelse:</h1>
                        <table>
                            <tbody>
                            <tr>
                                <td th:text="${carModel.car_description}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="block">
                        <div class="flex-container-block">
                            <h1 class="header-box">Skaderapporter på bilen:</h1>
                            <table>
                                <thead>
                                <tr>
                                    <th>Rapport Navn</th>
                                    <th>Medarbejder Navn</th>
                                    <th>Oprettelsesdato</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="Report : ${damageReport}">
                                    <td>
                                        <a th:href="@{'/watchDamageReport/' + ${Report.getId()}}">
                                            <span th:text="${Report.getReport_name()}"> </span>
                                        </a>
                                    </td>
                                    <td th:text="${Report.getReport_employee_name()}"></td>
                                    <td>
                                        <a th:text="${Report.getReport_Damage_Date()}"></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="flex-container-block">
                            <h1 class="header-box">Leasingaftaler på bilen:</h1>
                            <table>
                                <thead>
                                <tr>
                                    <th>Kundenavn</th>
                                    <th>Start leasing</th>
                                    <th>Slut leasing</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="Report : ${leaseReport}">
                                    <td>
                                        <a th:href="@{'/watchLeasingAgreements'}">
                                            <span th:text="${Report.customer_name}"> </span>
                                        </a>
                                    </td>
                                    <td>
                                        <a th:text="${Report.getStart_leasing()}"></a>
                                    </td>
                                    <td>
                                        <a th:text="${Report.getEnd_leasing()}"></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="flex-container">
                        <form action="/carListSite">
                            <button type="submit" class="button">Tilbage til bil Siden</button>
                        </form>
                        <form th:action="@{'/CreateNewReportEntry/'+ ${carModel.getId()}}">
                            <button type="submit" class="button">Opret ny skaderapport</button>
                        </form>
                        <form action="/DamageReportSite">
                            <button type="submit" class="button">Se alle skaderapporter</button>
                        </form>
                        <form th:action="@{'/makeNewLeasing/'+ ${carModel.getId()}}">
                            <button type="submit" class="button">Opret ny leasingaftale</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
