<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>carInfopage</title>
    <link rel="stylesheet" href="../static/css/carInfo.css" th:href="@{/css/carInfo.css}">
</head>
<body>
<h1>Bil info: </h1>
<div class="flex-container">
    <div class="smallBox"></div>
        <div class=largerBox>
            <div class="flex-container">
                <div class="pictureBox">
                    <img th:src="@{'/image/'+${carModel.car_picture}}" style="height: 35vh;width: 105%;">
                </div>
                <div class="ModelBrand">
                    <table>
                        <tbody>
                        <tr>
                            <td th:text="${carModel.car_full_name}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="DescriptionBox">
                <h1>Beskrivelse:</h1>
                <table>
                    <tbody>
                    <tr>
                        <td th:text="${carModel.car_description}"></td>
                    </tr>
                    </tbody>
                </table>
                <table>
                    <h1>Rapporter på bilen:</h1>
                    <thead>
                    <tr>
                        <th>Navn på rapporten</th>
                        <th>Navn på medarbejderen</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="Report : ${damageReport}">
                        <td>
                            <a th:href="@{'/watchDamageReport/' + ${Report.getId()}}">
                                <span th:text="${Report.getReport_name()}"> </span>
                            </a>
                        </td>
                        <td th:text="${Report.getReport_employee_name()}"></td>
                    </tr>
                    </tbody>
                </table>
                <table>
                    <h1>Leasingaftaler på bilen:</h1>
                    <thead>
                    <tr>
                        <th>Kundenavn</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="Report : ${leaseReport}">
                        <td>
                            <a th:href="@{'/watchLeasingAgreements'}">
                                <span th:text="${Report.customer_name}"> </span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="flex-container">
                    <form action="/carListSite">
                        <button type="submit" class="create-car-button">Tilbage til bil Siden</button>
                    </form>
                    <form action="/CreateNewReportEntry">
                        <button type="submit" class="create-Report-button">Opret ny rapport</button>
                    </form>
                    <form action="/DamageReportSite">
                        <button type="submit" class="All-Reports-button">Se Skade alle rapporter</button>
                    </form>
                    <form action="/makeNewLeasing">
                        <button type="submit" class="New-Leasing-Report-button">Opret leasing rapport</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>