<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>carListSide</title>
    <link rel="stylesheet" href="../static/css/car.css" th:href="@{css/car.css}">
</head>
<body>
<h1 style="text-align: center">Oversigt over biler</h1>
<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>Serie Nummer</th>
                <th>Nummerplade</th>
                <th>Model</th>
                <th>Mærke</th>
                <th>År</th>
                <th>Månedspris</th>
                <th>Udlejet?</th>
                <th>Opdater</th>
                <th>Slet</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="carlist : ${carlist}">
            <td th:text="${carlist.car_Serialnr}">546231987</td>
            <td th:text="${carlist.car_number}">123654898213</a></td>
            <td th:text="${carlist.car_model}">Bil model</td>
            <td th:text="${carlist.car_name}">Bil brand</td>
            <td th:text="${carlist.car_year}">2014</td>
            <td th:text="${carlist.monthly_price}">130000</td>
            <td th:text="${carlist.is_leased} ? 'Ja' : 'Nej'">yes</td>

            <td>
                <a th:href="@{'/updateCarEntry/'+${carlist.id}}">Opdater</a>
            </td>
            <td>
                <a th:href="@{'/deleteFromCarList/'+${carlist.id}}">Fjern</a>
            </td>
        </tr>
        <tr>
            <td>total forventet pris</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td th:text="${totalMonthlyPrice}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="flex-contrainer">
    <div class="table-container">
        <form action="/CreateNewCarEntry">
            <button type="submit" class="create-car-button">Opret ny bil</button>
        </form>
    </div>
    <div class="table-container">
        <form action="/ToLeasedCars">
            <button type="submit" class="create-car-button">Se alle udlejede biler</button>
        </form>
    </div>
    <div class="table-container">
        <form action="/ToNoneLeasedCars">
            <button type="submit" class="create-car-button">Se alle ikke udlejede biler</button>
        </form>
    </div>
</div>

    <!--
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th><h1>test</h1></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="carlist1 : ${carModels1}">
                    <td th:text="${carlist1.car_Serialnr}">546231987</td>
                </tr>
            </tbody>
        </table>
    </div>
    -->
</body>
</html>