<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>carListSide</title>
</head>
<body>
<a href="/CreateNewCarEntry" >
    <h3>Opret ny bil</h3>
</a>
    <table>
        <thead>
            <tr>
                <th>Serie Nummer</th>
                <th>Nummerplade</th>
                <th>Model</th>
                <th>Mærke</th>
                <th>År</th>
                <th>Månedspris</th>
                <th>Udlejet?</th>
                <th>Opdater</th>
                <th>Slet</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="carlist : ${carlist}">
            <td th:text="${carlist.car_Serialnr}">546231987</td>
            <td th:text="${carlist.car_number}">123654898213</a></td>
            <td th:text="${carlist.car_model}">Bil model</td>
            <td th:text="${carlist.car_name}">Bil brand</td>
            <td th:text="${carlist.car_year}">2014</td>
            <td th:text="${carlist.monthly_price}">130000</td>
            <td th:text="${carlist.is_leased}">yes</td>
            <td>
                <a th:href="@{'/updateCarEntry/'+${carlist.id}}">Opdater</a>
            </td>
            <td>
                <a th:href="@{'/deleteFromCarList/'+${carlist.id}}">Fjern</a>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>