<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ny Raport</title>
</head>
<body>

<div class="container">
    <form action="CreateNewReportEntry" method="post" class="form-container">
        <h1>Opret Report</h1>
        <label for="name">Kunde navn:</label>
        <input id="name" name="report_name" type="text">

        <label for="description">beskrivelse:</label>
        <input id="description" name="report_description" type="text">

        <label for="employee">Medarbejder Navn:</label>
        <input id="employee" name="report_employee_name" type="text">

        <input type="submit" value="opret Report">
    </form>
</div>
</body>
</html>