<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>skader</title>
</head>
<body>
<table>
    <thead>
    <h2>Oversigt over alle Skader</h2>
    <tr>
        <th>navn på skaden</th>
        <th>prisen på skaden</th>
        <th>Skade beskrivelse</th>
    </tr>
    <tbody>
    <tr th:each=" damage : ${damage}">
        <td th:text="${damage.getDamage_name()}">Navn på skaden</td>
        <td th:text="${damage.getDamage_price()}">Prisen på skaden</td>
        <td th:text="${damage.getDamage_description()}"> Beskrivelse af skaden </td>
        <td>
            <a th:href="@{'/UpdateDamage/'+${damage.id}}">Opdater</a></td>

        <td>
            <a th:href="@{'/deleteDamage/'+${damage.id}}">Slet</a></td>
    </tr>

    <tr>
        <td>Total pris:</td>
        <td th:text="${totalPriceForDamages}"></td>
    </tr>


</table>
<a th:href="@{'/makeNewDamage/' + ${}}">
    <button type="submit" >Opret ny skade</button>
</a>

</body>
</html>