<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DamageReportSite</title>
    <link rel="stylesheet" href="../static/css/car.css" th:href="@{css/car.css}">
    <link rel="stylesheet" href="../static/css/header.css" th:href="@{css/header.css}">
    <link rel="stylesheet" href="../static/css/carInfo.css" th:href="@{css/carInfo.css}">
</head>
<body>
<div class="sidebar">
    <header><a th:href="@{/dashboard}">Bilabonnement</a></header>
    <ul>
        <li><a th:href="@{/dashboard}">Dashboard</a></li>
        <li><a th:href="@{/carListSite}">Biler</a></li>
        <li><a th:href="@{/watchLeasingAgreements}">Leasing</a></li>
        <li><a th:href="@{/DamageReportSite}">Skadesrapport</a></li>
        <li><a th:href="@{/watchDamages}">Skader</a> </li>
    </ul>
</div>
<h1 style="text-align: center; margin-bottom: 30px">Oversigt over alle skadesrapporter</h1>
<div class="table-container" >
<table class="table">
        <thead>
        <tr>
            <th>Bil id</th>
            <th>Serienummer</th>
            <th>Medarbejder Navn</th>
            <th>Rapport Navn</th>
            <th>Opdater</th>
            <th style="text-align: left">Slet</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="carReport : ${carReports}">
            <td th:text="${carReport.carModel.id}"></td>
            <td th:text="${carReport.carModel.car_Serialnr}"></td>
            <td th:text="${carReport.damageReportModel.report_employee_name}"></td>
            <td>
                <a th:href="@{'/watchDamageReport/' + ${carReport.damageReportModel.id}}">
                    <span th:text="${carReport.damageReportModel.report_name}"> </span>
                </a>
            </td>
            <td>
                <a th:href="@{'/UpdateReport/' + ${carReport.damageReportModel.id}}">Opdater</a>
            </td>
            <td>
                <a th:href="@{'/deleteFromDamageReportSite/' + ${carReport.damageReportModel.id}}">Fjern</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="table-container">
    <form th:action="@{/carListSite}">
        <button type="submit" class="button">Tilbage til Bil list</button>
    </form>
</div>
</body>
</html>
