<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/css/header.css" th:href="@{css/header.css}">
    <link rel="stylesheet" href="../static/css/body.css" th:href="@{css/body.css}">

</head>
<body>

<div class="sidebar">
    <header><a th:href="@{/dashboard}">Bilabonnement</a></header>
    <ul>
        <li><a th:href="@{/dashboard}">Dashboard</a></li>
        <li><a th:href="@{/carListSite}">Biler</a></li>
        <li><a th:href="@{/watchLeasingAgreements}">Leasing</a></li>
        <li><a th:href="@{/DamageReportSite}">Skaderapport</a></li>
        <li><a th:href="@{/watchDamages}">Skader</a> </li>
    </ul>
</div>

<div class="overskrift">
    <h2>Dashboard</h2>
</div>

<div class="flex-container">
    <div class="flex-box">
        <h2 style="margin-bottom: 30px">Information for biler</h2>
        <table class="dash-box" style="border: 1px solid #ddd">
            <thead>
                <tr>
                    <th></th>
                    <th>Total Antal Biler</th>
                    <th>Antal biler udlejet</th>
                    <th>Antal ikke udlejet biler</th>
                </tr>
            </thead>
            <tbody style="border: 1px solid #ddd">
                <tr>
                    <td></td>
                    <td th:text="${carsByNumber}"></td>
                    <td th:text="${LeasedCars}"></td>
                    <td th:text="${NonLeasedCars}"></td>
                </tr>
                <tr>
                    <td>total forventet pris</td>
                    <td th:text="${totalMonthlyPrice}+' DKK'"></td>
                    <td th:text="${totalMonthlyPriceLease}+' DKK'"></td>
                    <td th:text="${totalMonthlyPriceNonLease+' DKK'}"></td>
                </tr>
            </tbody>
        </table>
        <a href="carListSite" style="color: black">Til oversigt af biler</a>
    </div>

    <div class="flex-box">
            <h2 style="margin-bottom: 30px">Information for Leasing Aftaler</h2>
            <table class="dash-box">
                <thead>
                    <tr>
                        <th>Leasing Aftaler</th>
                        <th>Mest populære bil</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td th:text="${LeasingAgreementsByNumbers}"></td>
                        <td th:text="'Bil med id: '+${CarWithMostLeasingAgreements}+', Antal: '+${CarWithMostLeasingAgreementsByCount}"></td>
                    </tr>
                </tbody>
            </table>

            <h2 style="margin-bottom: 10px">De Næste biler som kommer hjem</h2>
            <div class="block">
                <div class="flex-container">
            <table class="dash-box">
                <thead>
                <tr>
                    <th>Bil Name</th>
                    <th>Nummer</th>
                </tr>
                </thead>

                <tbody style="border: 1px solid #ddd">
                <tr th:each="car : ${endLeasing}">
                    <td th:text="${car.getCar_name()}"></td>
                    <td th:text="${car.getCar_number()}"></td>
                </tr>
                </tbody>
            </table>
            <table>
                <thead>
                <th>Hvornår</th>
                </thead>
                <tbody style="border: 1px solid #ddd">
                <tr th:each="leasing : ${leasingmodels}">
                    <td th:text="${leasing.getEnd_leasing()}"></td>
                </tr>
                </tbody>
            </table>
                </div>

            </div>
            <a href="watchLeasingAgreements" style="color: black">Til oversigt af aftaler</a>

    </div>

    <div class="flex-box">
            <h2 style="margin-bottom: 30px">Information for Skaderapporter</h2>
            <table class="dash-box">
                <thead>
                <tr>
                    <th>Skadesrapporter</th>
                    <th>Bil m/flest skader</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${NumberOfDamageReports}"></td>
                    <td th:text="'Bil med id: '+${CarWithMostDamageReport}+', Antal: '+${test}"></td>
                </tr>
                </tbody>
            </table>
            <a href="DamageReportSite" style="color: black">Til oversigt af rapporter</a>
    </div>
    <div class="flex-box">
            <h2 style="margin-bottom: 30px">Information for skader</h2>
            <table class="dash-box">
                <thead>
                <tr>
                    <th>Total Antal Skader</th>
                    <th>Total pris for alle skader</th>
                    <th>Dyreste skade</th>
                    <th>Billigste skade</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${TotalNumberOfDamages}"></td>
                    <td th:text="${TotalSumOfDamages}+' DKK'"></td>
                    <td th:text="${MostExpensiveDamage}+' DKK'"></td>
                    <td th:text="${CheapestDamage}+' DKK'"></td>
                </tr>
                </tbody>
            </table>
            <a href="watchDamages" style="color: black">Til oversigt af skader</a>
    </div>
</div>

</body>
</html>