<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/css/header.css" th:href="@{css/header.css}">
    <link rel="stylesheet" href="../static/css/body.css" th:href="@{css/body.css}">
</head>
<body>


<div class="sidebar">
    <header><a href="dashboard">Bilabonnement</a></header>
    <ul>
        <li><a href="dashboard">Dashboard</a> </li>
        <li><a href="carListSite">Biler</a> </li>
        <li><a href="watchLeasingAgreements">Leasing</a> </li>
        <li><a href="DamageReportSite">Skadesrapport</a> </li>
        <li><a href="watchDamages">Skader</a> </li>
    </ul>
</div>

<div class="overskrift">
    <h2>Dashboard</h2>
</div>
<div class="flex-container">
    <div class="flex-box">
        <h2>Information for biler</h2>
        <table style="border: 1px solid #ddd">
            <thead>
                <tr>
                    <th></th>
                    <th>Total Antal Biler</th>
                    <th>Antal biler udlejet</th>
                    <th>Antal ikke udlejet biler</th>
                </tr>
            </thead>
            <tbody style="border: 1px solid #ddd">
                <tr>
                    <td></td>
                    <td th:text="${carsByNumber}"></td>
                    <td th:text="${LeasedCars}"></td>
                    <td th:text="${NonLeasedCars}"></td>
                </tr>
                <tr>
                    <td>total forventet pris</td>
                    <td th:text="${totalMonthlyPrice}+' DKK'"></td>
                    <td th:text="${totalMonthlyPriceLease}+' DKK'"></td>
                    <td th:text="${totalMonthlyPriceNonLease+' DKK'}"></td>
                </tr>
            </tbody>
        </table>
        <a href="carListSite" style="color: black">Til oversigt af biler</a>
    </div>
    <div class="flex-box">
        <div class="flex-box-image fest-2">
            <h2>Information for Leasing Aftaler</h2>
            <table>
                <thead>
                    <tr>
                        <th>Total Antal Leasing Aftaler</th>
                        <th>Bilen med flest Leasing Aftaler</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td th:text="${LeasingAgreementsByNumbers}"></td>
                        <td th:text="'Bil med id: '+${CarWithMostLeasingAgreements}+', Antal: '+${CarWithMostLeasingAgreementsByCount}"></td>
                    </tr>
                </tbody>
            </table>
            <a href="watchLeasingAgreements" style="color: black">Til oversigt af aftaler</a>
        </div>
    </div>
    <div class="flex-box">
        <div class="flex-box-image fest-3">
            <h2>Information for Skaderapporter</h2>
            <table>
                <thead>
                <tr>
                    <th>Total Antal Skaderapporter</th>
                    <th>Bilen med flest Skaderapporter</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${NumberOfDamageReports}"></td>
                    <td th:text="'Bil med id: '+${CarWithMostDamageReport}+', Antal: '+${test}"></td>
                </tr>
                </tbody>
            </table>
            <a href="DamageReportSite" style="color: black">Til oversigt af rapporter</a>
        </div>
    </div>
    <div class="flex-box">
        <div class="flex-box-image fest-4">
            <h2>Information for skader</h2>
            <table>
                <thead>
                <tr>
                    <th>Total Antal Skader</th>
                    <th>Total pris for alle skader</th>
                    <th>Dyreste skade</th>
                    <th>Billigste skade</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${TotalNumberOfDamages}"></td>
                    <td th:text="${TotalSumOfDamages}+' DKK'"></td>
                    <td th:text="${MostExpensiveDamage}+' DKK'"></td>
                    <td th:text="${CheapestDamage}+' DKK'"></td>
                </tr>
                </tbody>
            </table>
            <a href="watchDamages" style="color: black">Til oversigt af skader</a>
        </div>
    </div>
</div>

</body>
</html>