<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/css/leasing.css" th:href="@{css/leasing.css}">
<head>
    <meta charset="UTF-8">
    <title>Opret Leasing</title>
</head>
<body>
<div class="block-container">
    <div class="block-content">
        <div class="block">
            <h2>Aftaleindskrivning</h2>
            <form>
                <label for="ansat">Ansat:</label><br>
                <input type="text" id="ansat" name="A
                nsat"><br>
                <label for="navn">Navn:</label><br>
                <input type="text" id="navn" name="navn"><br>
                <label for="leasingPrice">Pris:</label><br>
                <input type="text" id="leasingPrice" name="Pris"><br>
                <label for="carId">carId:</label><br>
                <input type="text" id="carId" name="carId"><br>
                <label for="abonnement">Abonnementsaftale:</label><br>

                <select id="abonnement" name="abonnement">
                    <option value="limited">begrænset </option>
                    <option value="Ubegrænset">Ubegrænset</option>
                </select><br>
                <label for="startdato">Startdato:</label><br>
                <input type="date" id="startdato" name="startdato"><br>
                <label for="slutdato">Slutdato:</label><br>
                <input type="date" id="slutdato" name="slutdato"><br><br>

                <button type="submit" class="button">Gem</button>

            </form>
        </div>
    </div>
</div>
</body>
</html>