<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret ny skade</title>
</head>
<body>

<h1> Opret en ny skade</h1>

<div class="block-container">
    <div class="block-content">
        <div class="block">
            <h2>Aftaleindskrivning</h2>
            <form action="/makeNewDamage" method="post">
                <label for="damagename">Skadens navn:</label><br>
                <input type="text" id="damagename" name="damage_name"><br>

                <label for="damageprice"> Pris på skaden:</label><br>
                <input type="text" id="damageprice" name="damage_price"><br>

                <label for="damagedescription"> Beskrivelse af skaden:</label><br>
                <input type="text" id="damagedescription" name="damage_description"><br>

                <p>

                    <input id="damageReport_id" name="damageReport_id" type="text" hidden th:value="${damagereportid}">
                </p>

                    <button type="submit" class="button">Gem</button>


            </form>
        </div>
    </div>
</div>

</body>
</html>