<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/css/leasing.css" th:href="@{css/leasing.css}">
<head>
    <meta charset="UTF-8">
    <title>Opret Leasing</title>
</head>
<body>
<div class="block-container">
    <div class="block-content">
        <div class="block">
            <h2>Aftaleindskrivning</h2>
            <form action="/makeNewLeasing" method="post">
                <label for="ansat">Ansat:</label><br>
                <input type="text" id="ansat" name="ansat"><br>

                <label for="navn">Navn:</label><br>
                <input type="text" id="navn" name="navn"><br>

                <label for="leasingPrice">Pris:</label><br>
                <input type="text" id="leasingPrice" name="Pris"><br>


                <input name="car_id" th:value="${car_id.getId()}" th:name="car_id" type="hidden"><br>

                <label>Abonnementsaftale:</label><br>
                <input id="limited" name="is_limited" type="checkbox" value="true">
                <label for="limited">Begrænset</label><br>

                <input id="unlimited" name="is_unlimited" type="checkbox" value="true">
                <label for="unlimited">Ubegrænset</label><br>

                <label for="startdato">Startdato:</label><br>
                <input type="date" id="startdato" name="startdato"><br>
                <label for="slutdato">Slutdato:</label><br>
                <input type="date" id="slutdato" name="slutdato"><br><br>

                <a href="watchLeasingAgreements">
                <button type="submit" class="button">Gem</button>
                </a>


            </form>
        </div>
    </div>
</div>
</body>
</html>