<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToLeasedCars</title>
    <link rel="stylesheet" href="../static/css/car.css" th:href="@{css/car.css}">
</head>
<body>
<h1 style="text-align: center">Oversigt over  udlejede biler</h1>
<div class="table-container">
    <table class="table">
        <thead>
        <tr>
            <th>Serie Nummer</th>
            <th>Nummerplade</th>
            <th>Model</th>
            <th>Mærke</th>
            <th>År</th>
            <th>Månedspris</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="carlist : ${leasedcars}">
            <td th:text="${leasedcars.car_Serialnr}">546231987</td>
            <td th:text="${leasedcars.car_number}">123654898213</a></td>
            <td th:text="${leasedcars.car_model}">Bil model</td>
            <td th:text="${leasedcars.car_name}">Bil brand</td>
            <td th:text="${leasedcars.car_year}">2014</td>
            <td th:text="${leasedcars.monthly_price}">130000</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>