<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToNonLeasedCars</title>
    <link rel="stylesheet" href="../static/css/car.css" th:href="@{css/car.css}">
    <link rel="stylesheet" href="../static/css/header.css" th:href="@{css/header.css}">
</head>
<body>
<div class="sidebar">
    <header><a href="dashboard">Bilabonnement</a></header>
    <ul>
        <li><a href="dashboard">Dashboard</a> </li>
        <li><a href="carListSite">Biler</a> </li>
        <li><a href="watchLeasingAgreements">Leasing</a> </li>
        <li><a href="DamageReportSite">Skadesrapport</a> </li>
    </ul>
</div>
<h1 style="text-align: center">Oversigt over ikke udlejede biler</h1>

<div class="table-container">
    <table class="table">
        <thead>
        <tr>
            <th>Fulde Navn</th>
            <th>Serie Nummer</th>
            <th>Nummerplade</th>
            <th>Model</th>
            <th>Mærke</th>
            <th>År</th>
            <th>Månedspris</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="carlist : ${nonLeasedCars}">
            <td>
                <a th:href="@{'/CarInfoPage/'+${carlist.getId()}}">
                    <span th:text="${carlist.car_full_name}"></span>
                </a>
            </td>
            <td th:text="${carlist.car_Serialnr}">546231987</td>
            <td th:text="${carlist.car_number}">123654898213</td>
            <td th:text="${carlist.car_model}">Bil model</td>
            <td th:text="${carlist.car_name}">Bil brand</td>
            <td th:text="${carlist.car_year}">2014</td>
            <td th:text="${carlist.monthly_price}">130000</td>
        </tr>
        <tr>
            <td>Pris</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td th:text="${totalMonthlyPrice}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="table-container">
    <form action="/carListSite">
        <button type="submit" class="create-car-button">Tilbage til bil Siden</button>
    </form>
</div>
</body>
</html>