<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update report</title>
    <link rel="stylesheet" href="../static/css/update.css" th:href="@{/css/update.css}">
    <link rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}">

</head>
<body>
<div class="sidebar">
    <header><a th:href="@{/dashboard}">Bilabonnement</a></header>
    <ul>
        <li><a th:href="@{/dashboard}">Dashboard</a></li>
        <li><a th:href="@{/carListSite}">Biler</a></li>
        <li><a th:href="@{/watchLeasingAgreements}">Leasing</a></li>
        <li><a th:href="@{/DamageReportSite}">Skadesrapport</a></li>
        <li><a th:href="@{/watchDamages}">Skader</a> </li>
    </ul>
</div>

<div class="container">
    <form action="/UpdateReport" method="post" class="form-container">
        <h1>Opdater report</h1>
        <input name="id" type="hidden" th:value="${updateReport.id}" th:name="id">

        <label for="report_name">Reportens navn:</label>
        <input id="report_name" name="report_name" type="text" th:value="${updateReport.getReport_name()}">

        <label for="report_description">Beskrivelse af skade:</label>
        <input id="report_description" name="report_description" type="text" th:value="${updateReport.getReport_description()}">

        <label for="report_employee_name">Medarbejder navn:</label>
        <input id="report_employee_name" name="report_employee_name" type="text" th:value="${updateReport.getReport_employee_name()}">

        <label for="report_Damage_Date">Dato:</label>
        <input id="report_Damage_Date", name="report_Damage_Date" type="date" th:value="${updateReport.getReport_Damage_Date()}">

        <label for="car_id">Bilens id nr:</label>
        <input id="car_id" name="car_id" type="text" th:value="${updateReport.getCar_id()}">

        <input type="submit" value="Opdater report">
    </form>
</div>
</body>
</html>