<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update</title>
    <link rel="stylesheet" href="../static/css/update.css" th:href="@{/css/update.css}">
</head>
<body>
<div class="container">
<form action="/UpdateDamage" method="post" class="form-container">
    <h2>Opdater damage</h2>
    <input type="hidden" name="id" th:value="${updateDamage.id}">

    <label for="damage_name">Navn på skade</label>
    <input id="damage_name" name="damage_name" type="text" th:value="${updateDamage.getDamage_name()}">

    <label for="damage_price">Pris på skaden</label>
    <input id="damage_price" name="damage_price" type="text" th:value="${updateDamage.getDamage_price()}">

    <label for="damage_description">Beskrivelse af skade</label>
    <input id="damage_description" name="damage_description" type="text" th:value="${updateDamage.getDamage_description()}">

    <input type="hidden" id="damageReport_id" name="damageReport_id" th:value="${updateDamage.getDamageReport_id()}">

    <input type="submit" value="Opdater rapport">
</form>
</div>

</body>
</html>