<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/css/leasing.css" th:href="@{css/leasing.css}">
<link rel="stylesheet" href="../static/css/header.css" th:href="@{css/header.css}">
<link rel="stylesheet" href="../static/css/car.css" th:href="@{css/car.css}">
<head>
    <meta charset="UTF-8">
    <title>Overview of Leasing</title>
</head>
<body>
<div class="sidebar">
    <header><a th:href="@{/dashboard}">Bilabonnement</a></header>
    <ul>
        <li><a th:href="@{/dashboard}">Dashboard</a></li>
        <li><a th:href="@{/carListSite}">Biler</a></li>
        <li><a th:href="@{/watchLeasingAgreements}">Leasing</a></li>
        <li><a th:href="@{/DamageReportSite}">Skadesrapport</a></li>
        <li><a th:href="@{/watchDamages}">Skader</a> </li>
    </ul>
</div>
<h1 style="text-align: center">Oversigt over alle leasingaftaler</h1>
    <div class="table-container"  style="margin-left: 75px">
        <table class="table">
            <thead>
                <tr>
                    <th>Medarbejder</th>
                    <th>Kunde navn</th>
                    <th>Månedlig pris</th>
                    <th>Opdater</th>
                    <th>slet</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="Leasing : ${LeasingAgremenst}">
                        <!-- <td th:text="${Leasing.getId()}">abonoment ID</td> -->
                    <td th:text="${Leasing.getEmployee_name()}"></td>
                    <td>
                        <a th:href="@{'/CarInfoPage/' + ${Leasing.getCar_id()}}">
                        <span th:text="${Leasing.getCustomer_name()}">kunde navn</span>
                        </a>
                    </td>
                    <td th:text="${Leasing.getMonthly_price()}">prisen</td>
                    <td>
                        <a th:href="@{'/updateLeasingEntry/'+${Leasing.id}}">Opdater</a>
                    </td>
                    <td>
                        <a th:href="@{'/deleteFromLeasingList/'+${Leasing.id}}">Fjern</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="flex-container">
        <div class="table-container">
            <form action="/makeNewLeasing">
                <button type="submit" class="button">Opret ny leasing</button>
            </form>
        </div>
    </div>
</body>
</html>