<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Skadesoversigt</title>
    <link rel="stylesheet" href="../static/css/car.css" th:href="@{css/car.css}">
    <link rel="stylesheet" href="../static/css/header.css" th:href="@{css/header.css}">
</head>
<body>
<div class="sidebar">
    <header><a href="dashboard">Bilabonnement</a></header>
    <ul>
        <li><a href="dashboard">Dashboard</a> </li>
        <li><a href="carListSite">Biler</a> </li>
        <li><a href="watchLeasingAgreements">Leasing</a> </li>
        <li><a href="DamageReportSite">Skadesrapport</a> </li>
    </ul>
</div>

<h1 style="text-align: center">Oversigt over alle skader</h1>

    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>Skade id</th>
                    <th>Navn på skade</th>
                    <th>Pris på skade</th>
                    <th>Skade beskrivelse</th>
                    <th>Opdater</th>
                    <th>Slet</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each=" Damage : ${damageOverview}">
                    <td th:text="${Damage.getId()}">ID</td>
                    <td th:text="${Damage.getDamage_name()}">Navn på skaden</td>
                    <td th:text="${Damage.getDamage_price()}">Prisen på skaden</td>
                    <td th:text="${Damage.getDamage_description()}"> Beskrivelse af skaden </td>
                    <td>
                        <a th:href="@{'/UpdateDamage/'+${Damage.getId()}}">Opdater</a>
                    </td>
                    <td>
                        <a th:href="@{'/deleteDamage/'+${Damage.getId()}}">slet</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>