<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Se din skaderapport</title>
    <link rel="stylesheet" href="../static/css/carInfo.css" th:href="@{/css/carInfo.css}">
    <link rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}">
</head>
<body>
    <div class="sidebar">
        <header><a th:href="@{/dashboard}">Bilabonnement</a></header>
        <ul>
            <li><a th:href="@{/dashboard}">Dashboard</a></li>
            <li><a th:href="@{/carListSite}">Biler</a></li>
            <li><a th:href="@{/watchLeasingAgreements}">Leasing</a></li>
            <li><a th:href="@{/DamageReportSite}">Skaderapport</a></li>
            <li><a th:href="@{/watchDamages}">Skader</a> </li>
        </ul>
    </div>
    <div><h1 th:text="'Rapportnavn: '+${watchdamage.getReport_name()}"></h1></div>
    <div class="flex-container">
        <div class="flex-container-block-wdr">
            <h1>Information om rapporten</h1>
            <table >
                <thead>
                    <tr>
                        <th>Udført af</th>
                        <th>Rapportbeskrivelse</th>
                        <th>Oprettelsesdato</th>
                        <th>Opdater</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td th:text="${watchdamage.getReport_employee_name()}"></td>
                        <td th:text="${watchdamage.getReport_description()}"></td>
                        <td th:text="${watchdamage.getReport_Damage_Date()}"></td>
                        <td>
                            <a th:href="@{'/UpdateReport/' + ${watchdamage.getId()}}">Opdater</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="flex-container">
        <div class="flex-container-block-wdr">
            <h1>Oversigt over skader i rapporten</h1>
            <table >
                <thead>
                    <tr>
                        <th>navn på skaden</th>
                        <th>prisen på skaden</th>
                        <th>Skade beskrivelse</th>
                        <th>Opdater</th>
                        <th>Slet</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each=" damage : ${Damage}">
                        <td th:text="${damage.getDamage_name()}">Navn på skaden</td>
                        <td th:text="${damage.getDamage_price()}">Prisen på skaden</td>
                        <td th:text="${damage.getDamage_description()}"> Beskrivelse af skaden </td>
                        <td>
                            <a th:href="@{'/UpdateDamage/'+${damage.getId()}}">Opdater</a>
                        </td>
                        <td>
                            <a th:href="@{'/deleteDamage/'+${damage.id}}">Slet</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Total pris:</td>
                        <td th:text="${totalPriceForDamages}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div style="text-align: center">
        <a th:href="@{'/makeNewDamage/' + ${watchdamage.getId()}}">
            <button type="submit" class="button">Opret ny skade</button>
        </a>
    </div>
</body>
</html>