<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/css/leasing.css" th:href="@{css/leasing.css}">
<head>
    <meta charset="UTF-8">
    <title>Overview of Leasing</title>
</head>
<body>
<h1> Oversigt over nuværende leasingaftaler</h1>

<div class="block-container">
    <div class="block-content">
        <div class="blockLeasingContrakts">
            <table>
                <thead>
                <tr>
                    <h3>Alle Leasings Aftaler</h3>
                </tr>
                </thead>
                <tbody>
                <tr th:each="Leasing : ${LeasingAgremenst}">
                    <td th:text="${Leasing.getId()}">abonoment ID</td>

                    <td>
                    <a th:href="@{'/CarInfoPage/' + ${Leasing.getCar_id()}}">
                    <span th:text="${Leasing.getCustomer_name()}">kunde navn</span>
                    </a>
                    </td>
                    <td th:text="${Leasing.getMonthly_price()}">prisen</td>
                    <td>
                        <a th:href="@{'/updateLeasingEntry/'+${Leasing.id}}">Opdater</a>
                    </td>
                    <td>
                        <a th:href="@{'/deleteFromLeasingList/'+${Leasing.id}}">Fjern</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <a href="makeNewLeasing">
                <button>Opret ny leasing aftale</button>
            </a>

        </div>
    </div>
</div>

</body>
</html>