<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Se din skadesrapport</title>
</head>
<body>
<h1 th:text="${watchdamage.getReport_name()}"></h1>
<h1>Om Rapporten</h1>
<table>
    <thead>
        <tr>
            <th>Udført af</th>
            <th>Beskrivelse af rapporten</th>
            <th><a th:href="@{'/UpdateReport/' + ${watchdamage.getId()}}">
                <button type="submit" >Opdater rapport</button>
            </a>
            </th>
        </tr>
    <tbody>
        <tr>
            <td th:text="${watchdamage.getReport_employee_name()}"></td>
            <td th:text="${watchdamage.getReport_description()}"></td>
        </tr>
    </tbody>
</table>
<table>
    <thead>
    <h1>Oversigt over skader i rapporten</h1>
        <tr>
            <th>navn på skaden</th>
            <th>prisen på skaden</th>
            <th>Skade beskrivelse</th>
        </tr>
    <tbody>
        <tr th:each=" damage : ${damage}">
            <td th:text="${damage.getDamage_name()}">Navn på skaden</td>
            <td th:text="${damage.getDamage_price()}">Prisen på skaden</td>
            <td th:text="${damage.getDamage_description()}"> Beskrivelse af skaden </td>
            <td>
                <a th:href="@{'/watchDamages'}">Opdater</a>
            <td>
                <a th:href="@{'/deleteDamage/'+${damage.id}}">Slet</a></td>
        </tr>

        <tr>
            <td>Total pris:</td>
            <td th:text="${totalPriceForDamages}"></td>
        </tr>
</table>
<a th:href="@{'/makeNewDamage/' + ${watchdamage.getId()}}">
    <button type="submit" >Opret ny skade</button>
</a>
</body>
</html>