<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/css/leasing.css" th:href="@{css/leasing.css}">
<link rel="stylesheet" href="../static/css/header.css" th:href="@{css/header.css}">
<link rel="stylesheet" href="../static/css/car.css" th:href="@{css/car.css}">
<head>
    <meta charset="UTF-8">
    <title>Overview of Leasing</title>
</head>
<body>
<div class="sidebar">
    <header>Bil abonnement</header>
    <ul>
        <li><a href="dashboard">Dashboard</a> </li>
        <li><a href="carListSite">Biler</a> </li>
        <li><a href="watchLeasingAgreements">Leasing</a> </li>
        <li><a href="DamageReportSite">Skadesrapport</a> </li>
    </ul>
</div>


        <h1 style="text-align: center">Oversigt over nuværende leasingaftaler</h1>
            <h3 style="text-align: center">Alle Leasings Aftaler</h3>
            <div class="table-container">
            <table class="table">
                <thead>
                <tr>
                    <th>Medarbejder</th>
                    <th>Kunde navn</th>
                    <th>Månedlig pris</th>
                    <th>Opdater</th>
                    <th>slet</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="Leasing : ${LeasingAgremenst}">
                    <!-- <td th:text="${Leasing.getId()}">abonoment ID</td> -->
                    <td th:text="${Leasing.getEmployee_name()}"></td>
                    <td>
                    <a th:href="@{'/CarInfoPage/' + ${Leasing.getCar_id()}}">
                    <span th:text="${Leasing.getCustomer_name()}">kunde navn</span>
                    </a>
                    </td>
                    <td th:text="${Leasing.getMonthly_price()}">prisen</td>
                    <td>
                        <a th:href="@{'/updateLeasingEntry/'+${Leasing.id}}">Opdater</a>
                    </td>
                    <td>
                        <a th:href="@{'/deleteFromLeasingList/'+${Leasing.id}}">Fjern</a>
                    </td>
                </tr>
                </tbody>
            </table>

                <a href="makeNewLeasing">
                    <button>Opret ny leasing aftale</button>
                </a>


        </div>

</body>
</html>