<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Se din skadesrapport</title>
    <link rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}">
    <link rel="stylesheet" href="../static/css/carForm.css" th:href="@{/css/carForm.css}">
    <link rel="stylesheet" href="../static/css/car.css" th:href="@{/css/car.css}">

</head>
<body>
<div class="sidebar">
    <header><a href="dashboard">Bilabonnement</a></header>
    <ul>
        <li><a href="dashboard">Dashboard</a> </li>
        <li><a href="carListSite">Biler</a> </li>
        <li><a href="watchLeasingAgreements">Leasing</a> </li>
        <li><a href="DamageReportSite">Skadesrapport</a> </li>
        <li><a href="watchDamages">Skader</a> </li>

    </ul>
</div>
<div>
    <div class="container">
<h1 th:text="${watchdamage.getReport_name()}"></h1>
<h1>Om Rapporten</h1>
    <div class="table-container">
<table class="table">
    <thead>
        <tr>
            <th>Udført af</th>
            <th>Beskrivelse af rapporten</th>
            <th><a th:href="@{'/UpdateReport/' + ${watchdamage.getId()}}">
                <button type="submit" >Opdater rapport</button>
            </a>
            </th>
        </tr>
    <tbody>
        <tr>
            <td th:text="${watchdamage.getReport_employee_name()}"></td>
            <td th:text="${watchdamage.getReport_description()}"></td>
        </tr>
    </tbody>
</table>
<table class="table">
    <thead>
    <h1>Oversigt over skader i rapporten</h1>
        <tr>
            <th>navn på skaden</th>
            <th>prisen på skaden</th>
            <th>Skade beskrivelse</th>
        </tr>
    <tbody>
        <tr th:each=" damage : ${damage}">
            <td th:text="${damage.getDamage_name()}">Navn på skaden</td>
            <td th:text="${damage.getDamage_price()}">Prisen på skaden</td>
            <td th:text="${damage.getDamage_description()}"> Beskrivelse af skaden </td>
            <td>
                <a th:href="@{'/UpdateDamage/'+${damage.getId()}}">Opdater</a>
            </td>
            <td>
                <a th:href="@{'/deleteDamage/'+${damage.id}}">Slet</a>
            </td>
        </tr>

        <tr>
            <td>Total pris:</td>
            <td th:text="${totalPriceForDamages}"></td>
        </tr>
</table>
    </div>
<a th:href="@{'/makeNewDamage/' + ${watchdamage.getId()}}">
    <button type="submit" >Opret ny skade</button>
</a>
</div>
</div>
</body>
</html>